{% extends "layout.html.twig" %}
{% block title %} Liste courrier {% endblock %}

{% block contenu %}

    <div class="container">
    <h1>Liste de courrier</h1>
    <hr />

    <table>
        <tr>
            <th>Numero courrier</th>
            <th>Date</th>
            <th>Libelle</th>
            <th>Nom client</th>
            <th>Addnotation</th>
        </tr>



        <tr>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
            <td>  </td>
        </tr>


    </table>
    </div>



{% endblock %}