{% extends "layout.html.twig" %}

{% block title %} Liste courrier {% endblock %}

{% block content %}
    <td>{{ user.username }}</a></td>
                                <td>

                                    {% if user.id == 'ROLE_ADMIN' %}
                                        Admin
                                    {% elseif  user.id == 'ROLE_USER'%}
                                        User
                                    {% else %}
                                        Collaborateur
                                    {% endif %}

                                </td>
   
{% endblock %}