{% extends "layout.html.twig" %}

{% block title %} Liste courrier {% endblock %}

{% block content %}
    <td>{{ user.username }}</a></td>
                                <td>

                                    {% if user.id == 'ROLE_ADMIN' %}
                                        Admin
                                    {% elseif  user.id == 'ROLE_USER'%}
                                        User
                                    {% else %}
                                        Collaborateur
                                    {% endif %}

                                </td>

<<<<<<< HEAD
<div class="container">
=======
    <div class="container">
>>>>>>> b4fc214b86dfc8ef1bcee4b26e6aeb191fd495e9
        <h1>Liste de courrier</h1>
        <hr />

        <table>
            <tr>
                <th>Numero courrier</th>
                <th>Date</th>
                <th>Libelle</th>
                <th>Nom client</th>
                <th>Annotation</th>
            </tr>



            <tr>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
                <td>  </td>
            </tr>


        </table>
    </div>

<<<<<<< HEAD
=======
    
>>>>>>> b4fc214b86dfc8ef1bcee4b26e6aeb191fd495e9
{% endblock %}