/.idea
/.vs
/.vscode

/Courrier/var/*
!/Courrier/var/cache
/Courrier/var/cache/*
!Courrier/var/cache/.gitkeep
!/Courrier/var/logs
/Courrier/var/logs/*
!Courrier/var/logs/.gitkeep
!/Courrier/var/sessions
/Courrier/var/sessions/*
!Courrier/var/sessions/.gitkeep
/Courrier/vendor

/Interne/CourrierPDP/vendor
