body{
    background-color: rgba(252, 209, 172, 0.932);
}

.image_courrier img{
    float: left;
    width: 30%;
}

.choix{
    background-color: antiquewhite;
    float: left;
    margin-left: 5%;
}

.choix1{
    background-color: rgb(228, 250, 215);
    float: left;
    margin-left: 5%;
}

.choix2{
    background-color: rgb(250, 215, 215);
    float: left;
    margin-left: 5%;
}

.choix3{
    background-color: rgb(215, 217, 250);
    float: left;
    margin-left: 5%;
}

.choix4{
    background-color: rgb(215, 250, 245);
    float: left;
    margin-left: 5%;
}