body {
    padding-top: 50px;
}

.displaynone {
    display: none;
}
.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
}

.articleTitle:hover,
.articleTitle:focus {
    text-decoration: none;
}

.adminTable {
    margin-top: 20px;
    margin-bottom: 20px;
}

#errorPanel {
    padding-top: 30px;
    padding-bottom: 10px;
}

.btn-primary {
    background-color: #337ab7;
    border-color: #2e6da4;
    display: block;
    float: right;
}

.btn-login{
        color: #000;
        background-color: #ccc;
        border-color: #fff;
        display: block;
        margin: auto;
        width: 100%;
}

.form-signin {
    max-width: 380px;
    padding: 15px 35px 45px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 7px 7px 2px 2px rgba(0, 0, 0, 0.2);
}

.form-control {
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.glyphicon {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.glyphicon-off,
.glyphicon-plus,
.glyphicon-pencil,
.glyphicon-trash,
.glyphicon-cloud-download,
.glyphicon-cog {
    font-size : 14px;
    margin: auto;
}



.input-group {
    margin-bottom: 20px;
}

.navbar-collapse img{
    max-width: 25%;
}

.navbar{
    background-color: #777
}

.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}

.navbar-nav li:hover {
    background-color: #000;
}

.nav-tabs.nav-justified .active a {
    border-bottom-color: #fff;
    background-color: #777;
    color: #fff;
}

.nav-tabs.nav-justified .active a:focus {
    border-bottom-color: #fff;
    background-color: #777;
    color: #fff;
}

.nav-tabs.nav-justified .active a:hover {
    border-bottom-color: #fff;
    background-color: #777;
    color: #fff;
}

.colorwhite{
    color:#fff
}

@media only screen and (min-width: 1200px) {
   
    .well {
        background-image: url("../images/mascotte.png");
        background-repeat: no-repeat;
        background-position-x: 60px;
    }
}

@media only screen and (min-width: 425px) {
    .img-responsive {
        max-width: 15%;
    }
}
