<menu>

    <div class="row align-items-center">
        <div class="col-md-2 align-items-center">
                <button class="btn fa fa-plus" > Ajouter un client</button>
        </div>
        <div class="col-md-2 align-items-center">
                <button class="btn fa fa-envelope-o" > Ajouter un courrier</button>
        </div>
        <div class="col-md-2 align-items-center">
                <button class="btn fa fa-envelope-o" > Courrier traite</button>
        </div>
        <div class="col-md-2 align-items-center">
                <button class="btn fa fa-power-off" type="submit"> Deconnexion</button>
        </div>
    </div>
</menu>